html,
body {
  --bgColor: #c0c0c0;
  --primaryColor: #003221;
  padding: 0;
  margin: 0;
  /* background-color: var(--bgColor); */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'Playfair Display', serif !important;
  box-sizing: border-box;
}

#main {
  display: grid;
  grid-template-columns: min(500px, 100%);
  justify-content: center;
  padding: 3rem 2rem;
  gap: 2rem;
  /* background-color: var(--bgColor); */
}

#main[data-prediction='true'] {
  grid-template-columns: 1fr 1.5fr;
}

#title {
  font-size: 4rem;
  color: var(--primaryColor);
}

#dahon {
  position: fixed;
  left: 0;
  height: 100vh;
  z-index: -1;
}

@media screen and (max-width:700px) {
  #main {
    grid-template-columns: 1fr !important;
  }

  #title {
    font-size: 3rem;
  }
}

@media screen and (max-width:800px) {
  #dahon {
    display: none;
  }
}

@media screen and (max-width:500px) {

  #title {
    font-size: 2rem;
  }
}

#sub-title {
  backdrop-filter: blur(1rem);
  padding: 1rem;
}